<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <title>Movies You May Like</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@1&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body style="background-color: black;">

        <div id="search_engine">
            <form method="post" action="/recommend" id="search_engine_form">
                <input class="search_movies" name="searched_movies" type="search" placeholder="Search Movies" aria-label="Search">
                <span class="icon"><button type="submit"><i class="fas fa-search"></i></button></span>
            </form>
            <div class="list_item"></div>
        </div>

        <h4 class="recommend_title">Movies For You...</h4>

        <div id="list"></div>

    </body>

    <script src="../static/recommend.js"></script>
    <script src="../static/startpage.js"></script>

</html>